/*Colunas da interface*/
.main{
    margin: 0.3%;
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*background-color: darkorange;*/
}
.simbolo{
    margin: 0.5%;
    /*background-color: chartreuse;*/
    width: 20%;
    height: 93%;
}
.simboloArea{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 6%;
    margin: 4.1%;
    height: 93%;
    border: 1px solid black;
    background-color: whitesmoke;
    row-gap: 20px;
    overflow: scroll;
}

.entrada{
    margin: 0.5%;
    /*background-color: blue;*/
    width: 40%;
    height: 98%;
}
.entradaArea{
    padding: 1%;
    margin: 2%;
    height: 93%;
    border: 1px solid black;
    background-color: whitesmoke;
    overflow-y: scroll;
    overflow-x: scroll;
}
.saida{
    margin: 0.5%;
    /*background-color: yellow;*/
    width: 40%;
    height: 98%;
}
.saidaArea{
    padding: 1%;
    margin: 2%;
    height: 93%;
    border: 1px solid black;
    background-color: whitesmoke;
}
/*Estilo entrada Fluxograma*/


.montagemFluxograma{
    margin-top: 2%;
    padding: 1%;
    align-items: center;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    row-gap: 60px;
}

.borderOn{
    border: 1px solid black;
}

.step{
    padding: 5px;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
}

.buttons{
    position: fixed;
}

.addButton{
    width: 20px;
    height: 7px;
    border-radius: 5%;
    background-color: greenyellow;
    border: 1px solid green;
    transition-duration: 0.4s;
}
.addButton:hover{
    background-color: green;
}
.removeButton{
    width: 20px;
    height: 7px;
    border-radius: 5%;
    background-color: red;
    border: 1px solid darkred;
    margin-left: 3px;
    transition-duration: 0.4s;
}
.removeButton:hover{
    background-color: darkred;
}

.conditionPopup{
    visibility: hidden;
    width: 350px;
    height: auto;
    margin: 100px auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #666666;
    padding: 15px;
    text-align: center;
    border: 3px solid #cccccc;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/*raphael últimas alterações*/
body {
    background-color: #bce7f7;
}

nav{
    background-image:
        linear-gradient(to right, #58caf3, #0e6889);
    position: absolute;
    right: 0%;
    left: 0%;
    top: 0%;
}

nav ul li{
   position: relative;
   display: inline;
}

nav ul li a{
    color: black;
    padding: 10px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #96d4eb;
}

nav ul ul{
    display: none;
    position: absolute;
    left: 0;
    top: 18px;
}

nav ul ul li a{
    display: block;
}

nav ul li:hover ul{
    display: inline-block;
}

header{
    margin-left: 10%;
    display: inline-block;
}

.forms{
    position: absolute;
    width: 1000px;
    background-image:
        linear-gradient(to right, #58caf3, #0e6889);
    text-align: justify;
    top: 400px;
    left: 160px;
    border-radius: 0.6rem;
}

.paragrafo{
    color:black;
    margin: 10px;
    text-indent: 50px;
    margin-left: 30px;
    margin-right: 35px;
}

.capa{
    position: relative;
    top: 4em;   
}